

.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 100%;
    font-size: 1.6em;
    vertical-align: middle;
}

.ca-menu li{
    /*width: 80px;
    height: 80px;*/
    /*border-radius: 125px;*/
    overflow: hidden;
    position: relative;
    /*float:left;*/
    /*background: #fff;*/
    text-align: center;
    transition: all 400ms linear;
    list-style: none;

}


.ca-menu li:hover{
    /*background: #f7f7f7;*/
    transform: rotate(360deg);
}
.ca-menu li:hover .ca-icon{
    color: #555;
    
}
.ca-menu li:hover .ca-main{
    display: none;
}
.ca-menu li:hover .ca-sub{
    opacity: 0.8;
}